@page "/ando"


<h2>For Andolov</h2>

<div class="row pt-5">
    <div class="col">
        <button class="btn btn-outline-primary pt-5" @onclick="ReadAllLobbies">Read All Lobbies</button>
        <a class="form-control btn btn-primary" href="/download?name=test.txt" target="_blank">Download</a>
    </div>

</div>


@code {

    public void ReadAllLobbies()
    {
        Classes.LobbyRunner.ReadAllLobbies();
    }
}