@page "/boards"
@using HPWUHexingInitialBoard
@inject NavigationManager NavigationManager

<h3>Boards</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Foes</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var board in testboards)*@
        @for (int i = 0; i < testboards.Count; i++)
        {
            var local_i = i;
            var board = testboards[i];
            <tr>
                <td>
                    <div>@board.Name</div>
                    <a href="test/@local_i" class="btn btn-outline-primary" role="button">Solve</a>
                </td>
                <td>
                    @foreach (var foe in board.Foes)
                    {
                        <div>
                            <span style="background-color: @(@foe.Elite ? "plum" : "white")">
                                @foe.ToString()
                            </span>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<button @onclick="HandleClick"></button>



@code {
    private List<TestBoard> testboards = GenerateTestBoards.Create();


    private void HandleClick()

    {
        NavigationManager.NavigateTo("/test/6", true);
    }


}


