@page "/boards"
@using HPWUHexingInitialBoard

<h3>Boards</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Foes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var board in testboards)
        {
            <tr>
                <td>@board.Name</td>
                @*        <td>@board.ToString()</td>*@
                <td>
                    @foreach (var foe in board.Foes)
                    {
                        <div style="color: @(foe.Elite?"purple":"black")">
                            <span style="width:50px">
                                @for (int i = 0; i < foe.Stars; i++)
                                {
                                    <text>*</text>
                                }
                            </span>
                            @foe.Type.ToString()
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>



@code {
    private List<TestBoard> testboards = GenerateTestBoards.Create();

}


