@page "/computergenerated"

<h3>Test yourself with some random lobbies</h3>

<div class="row pt-2">
    <div class="col-12">
        <button class="btn btn-outline-primary" @onclick="GetNewLobby">Generate New Lobby</button>
    </div>    
    <div class="col-12 pt-2">
        <LobbyDetails @ref="_bd"></LobbyDetails>
    </div>
</div>


@code {
    LobbyDetails _bd = new LobbyDetails();
    List<Foe> _foes = new List<Foe>();


    public void GetNewLobby()
    {
        _foes.Clear();

        _foes = Foe.GetNewLobby();
        _bd.Clear();
        _bd.Foes = _foes.ToList();
        _bd.ImgSrc = "images/blankboard.png";
        _bd.HideImage = false;
        _bd.LoadLobby();
    }
}


