@page "/computergenerated"
@using HPWUHexingTrainer.Shared

<h3>Test yourself with some random lobbies</h3>

<div class="row pt-2">
    <div class="col">
        <button class="btn btn-outline-primary" @onclick="GetNewLobby">Generate New Lobby</button>

    </div>
</div>

<div class="row pt-2">
    <div class="col">
        <LobbyDetails  @ref="_bd"></LobbyDetails>
    </div>
</div>


@code {
    LobbyDetails _bd = new LobbyDetails();
    public static int PERCENT_ELITES = 10;
    List<Foe> _foes = new List<Foe>();


    public void GetNewLobby()
    {
        Random rnd = new Random();
        _foes.Clear();
        _bd.Clear();


        // generate 5 random foes
        for (int cnt = 0; cnt < 5; cnt++)
        {
            Foe foe = new Foe();
            foe.Stars = rnd.Next(3, 6);

            int foetype = rnd.Next(0, 6);
            foe.Type = (FoeType)foetype;

            int isElite = rnd.Next(1, PERCENT_ELITES);
            foe.Elite = (isElite == 1) ? true : false;

            _foes.Add(foe);

            _bd.Foes = _foes.ToList();

            //_bd.CreateLobbyImage();

            _bd.Refresh();
        }
    }
}


