@page "/"

<h2>Test your knowledge</h2>
<h3>with some Wizards Unite Dark 5 boards!</h3>

<div class="row pt-5">
    <div class="col">
        <a href="computergenerated" class="btn btn-outline-primary mr-2 mt-2" role="button">Computer generated board</a>
        <a href="usergenerated2" class="btn btn-outline-primary mr-2 mt-2" role="button">Create you own</a>
        <a href="test" class="btn btn-outline-primary mr-2 mt-2" role="button">Test boards</a>
        <a href="boards" class="btn btn-outline-primary mr-2 mt-2" role="button">Select a test board</a>
    </div>
</div>
<div class="row pt-4">
    <div class="col">
        Select a item on the menu to test yourself using:
        <p>
            <ul>
                <li>A board generated for you by the computer</li>
                <li>A board you create yourself</li>
                <li>A board from the Discord Fortress Strategists training PDF</li>
            </ul>
        </p>
        <p><span style="background-color: plum">Elite foes will appear with a purple background</span></p>
    </div>
</div>