@page "/"

<h2>Test your knowledge</h2>
<h3>with some Wizards Unite Dark 5 board!</h3>

<div class="row pt-5">
    <a href="computergenerated" class="btn btn-outline-primary mr-2" role="button">Computer Generated board</a>
    <a href="usergenerated" class="btn btn-outline-primary mr-2" role="button">Create you own</a>
    <a href="test" class="btn btn-outline-primary mr-2" role="button">Test boards</a>
</div>
<div class="row pt-4">
    Select a item on the menu to test yourself using:
    </div>
    <div class="row pt-2">
        <p>
            <ul>
                <li>A board generated for you by the computer</li>
                <li>A board you create yourself</li>
                <li>A board from the Discord test PDF</li>
            </ul>
        </p>
    </div>
