@page "/settings"
@*@inject Blazored.LocalStorage.ILocalStorageService localStore*@

@using HPWUHexingTrainer.Classes

<h3>Settings</h3>

<div class="row pt-2">
    <div class="col">
        <label class="pl-1" for="chkTimer">Show a stopwatch?</label>
        <input id="chkTimer" type="checkbox" @bind="@_state.ShowTimer" />
    </div>
</div>
<div class="row pt-2">
    <div class="col">
        <label class="pl-1" for="chkProficiency">Show proficency separately?</label>
        <input id="chkProficiency" type="checkbox" @bind="@_state.ShowProficiency" />
    </div>
</div>
<div class="row pt-2">
    <div class="col">
        <label class="pl-1" for="chkResults">Show full results?</label>
        <input id="chkResults" type="checkbox" @bind="@_state.ShowResults" />
    </div>
</div>

<div class="row pt-2">
    <div class="col">
        <label class="pl-1" for="chkResults">How do you want foes displayed? e.g.</label>
        <EditForm Model="_state">
        <InputRadioGroup @bind-Value="@_state.FoeDisplayType">
            <div class="pl-3">
                @foreach (var option in rdOptions)
                {
                    <div>
                        <InputRadio Value="option" /> @option <br />
                    </div>
                }
            </div>
            </InputRadioGroup>
            </EditForm>
</div>
</div>


@code {
    [CascadingParameter]
    public UserSettings _state { get; set; }

    public readonly List<string> rdOptions = new List<string> { "3* Pixie", "Imposing Pixie", "Imposing (3*) Pixie" };
}
