@page "/settings"
@*@inject Blazored.LocalStorage.ILocalStorageService localStore*@

@using HPWUHexingTrainer.Classes

<h3>Settings</h3>

<div class="row pt-2">
    <div class="col">
        <label class="pl-1" for="chkTimer">Show a stopwatch?</label>
        <input id="chkTimer" type="checkbox" @bind="@State.ShowTimer"  />
    </div>
</div>
<div class="row pt-2">
    <div class="col">
        <label class="pl-1" for="chkProficiency">Show proficency separately?</label>
        <input id="chkProficiency" type="checkbox" @bind="@State.ShowProficiency"  />
    </div>
</div>
<div class="row pt-2">
    <div class="col">
        <label class="pl-1" for="chkResults">Show full results?</label>
        <input id="chkResults" type="checkbox" @bind="@State.ShowResults"/>
    </div>
</div>

<div class="row pt-2">
    <div class="col">
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" @bind="@State.Username" class="form-control" />
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public UserSettings State { get; set; }

}
