@page "/test"
@using HPWUHexingInitialBoard.Shared

<h3>Test yourself with some boards from the training sessions</h3>

<div class="row pt-2">
    <div class="col">
        <button class="btn btn-outline-primary" @onclick="GetNewBoard">New Board</button>

        <label class="pl-1" for="chkRandom">Random order?</label>
        <input id="chkRandom" type="checkbox" @bind="@randomTests" />
        <label class=" h4 pt-2 pl-2">@_imgName</label>
</div>
</div>

<div class="row pt-2">
    <div class="col">
        <BoardDetails @ref="_bd"></BoardDetails>
    </div>
</div>

@code {
    private BoardDetails _bd = new BoardDetails();
    private List<Foe> _foes = new List<Foe>();
    private bool randomTests = false;
    private int testListElement = -1;
    private string _imgName;
    private List<TestBoard> _testBoards;


    public void GetNewBoard()
    {
        _foes.Clear();
        _bd.Clear();

        _testBoards = GenerateTestBoards.Create();

        if (randomTests)
        {
            Random rnd = new Random();
            testListElement = rnd.Next(0, _testBoards.Count);
        }
        else
        {
            testListElement++;

            // if we are past the end of the list, go to the start again
            if (testListElement == _testBoards.Count)
                testListElement = 0;
        }


        TestBoard tb = _testBoards[testListElement];

        _imgName = tb.Name;
        _foes = tb.Foes;

        _bd.ImgSrc = tb.ImageFileName;
        _bd.ImgName = tb.Name;
        _bd.HideImage = false;
        _bd.Foes = tb.Foes.ToList();
        _bd.Refresh();
    }
}
