
<div class="col-lg-7 col-xl-3" style="min-width: 350px">

    <div id="backgroundImg" class="div-height" style="background-image: url(@ImgSrc)" hidden="@HideImage">

        @if (ImgSrc == "images/blankboard.png")
        {
            <div class="parent">
                @for (int cnt = 0; cnt < @Foes.Count; cnt++)
                {
                    Foe f = Foes[cnt];
                    <div style="grid-area: @f.GridArea;">
                        <img class="foeImg" src="@f.ImagePath">
                    </div>
                }
            </div>
        }
    </div>
</div>

@code {
    public List<Foe> Foes = new List<Foe>();
    public bool HideImage = true;
    public string ImgSrc;

    /// <summary>
    /// This is called from the parent component to repaint and from here after loading a lobby
    /// </summary>
    public void Refresh()
    {
        StateHasChanged();
    }
}
