
@using HPWUHexingTrainer

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HPWU Hexing Training</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="computergenerated">
                <span class="oi oi-laptop" aria-hidden="true"></span> Generated lobbies
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="usergenerated">
                <span class="oi oi-person" aria-hidden="true"></span> Create lobbies
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="test">
                <span class="oi oi-pencil" aria-hidden="true"></span> Andolov's Test Lobbies
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lobbies">
                <span class="oi oi-list" aria-hidden="true"></span> Andolov's Lobby List
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="training">
                <span class="oi oi-target" aria-hidden="true"></span> Training
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="ando">
                    <span class="oi oi-list" aria-hidden="true"></span> For Ando
                </NavLink>
            </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
